/* Text Reset */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, span, a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: normal;
}


/* Primitive Colors */
:root {
  --color-primary-100: 255, 239, 217;
  --color-primary-200: 255, 214, 163;
  --color-primary-300: 255, 189, 107;
  --color-primary-400: 255, 163, 51;
  --color-primary-500: 255, 143, 13;
  --color-primary-600: 254, 133, 0;
  --color-primary-700: 204, 107, 0;
  --color-primary-800: 153, 80, 0;
  --color-primary-900: 102, 53, 0;
  --color-white: 255, 255, 255;
  --color-secondary-100: 218, 232, 255;
  --color-secondary-200: 181, 208, 255;
  --color-secondary-300: 145, 185, 255;
  --color-secondary-400: 108, 161, 255;
  --color-secondary-500: 52, 136, 255;
  --color-secondary-600: 41, 108, 204;
  --color-secondary-700: 31, 81, 153;
  --color-secondary-800: 20, 54, 102;
  --color-secondary-900: 10, 27, 51;
  --color-accent-100: 243, 229, 255;
  --color-accent-200: 227, 197, 255;
  --color-accent-300: 211, 165, 255;
  --color-accent-400: 188, 119, 255;
  --color-accent-500: 167, 73, 255;
  --color-accent-600: 133, 58, 204;
  --color-accent-700: 100, 44, 153;
  --color-accent-800: 67, 29, 102;
  --color-accent-900: 33, 15, 51;
  --color-neutral-100: 234, 234, 234;
  --color-neutral-200: 208, 208, 208;
  --color-neutral-300: 182, 182, 182;
  --color-neutral-400: 156, 156, 156;
  --color-neutral-500: 130, 130, 130;
  --color-neutral-600: 104, 104, 104;
  --color-neutral-700: 78, 78, 78;
  --color-neutral-800: 52, 52, 52;
  --color-neutral-900: 26, 26, 26;
  --color-neutral-1000: 0, 0, 0;
}


/* OLD Primitive Colors */
/* :root {
  --color-primary-100: 255, 244, 225;
  --color-primary-200: 255, 224, 163;
  --color-primary-300: 255, 205, 102;
  --color-primary-400: 255, 175, 51;
  --color-primary-500: 255, 155, 0;
  --color-primary-600: 230, 130, 0;
  --color-primary-700: 179, 93, 0;
  --color-primary-800: 128, 65, 0;
  --color-primary-900: 77, 38, 0;
  --color-white: 255, 255, 255;
  --color-secondary-100: 242, 248, 236;
  --color-secondary-200: 216, 234, 198;
  --color-secondary-300: 191, 221, 161;
  --color-secondary-400: 153, 201, 105;
  --color-secondary-500: 127, 187, 67;
  --color-secondary-600: 102, 150, 54;
  --color-secondary-700: 76, 112, 40;
  --color-secondary-800: 51, 75, 27;
  --color-secondary-900: 25, 37, 13;
  --color-accent-100: 229, 251, 255;
  --color-accent-200: 178, 244, 255;
  --color-accent-300: 127, 238, 255;
  --color-accent-400: 50, 228, 255;
  --color-accent-500: 0, 221, 255;
  --color-accent-600: 0, 177, 204;
  --color-accent-700: 0, 132, 153;
  --color-accent-800: 0, 88, 102;
  --color-accent-900: 0, 44, 51;
  --color-neutral-100: 234, 234, 234;
  --color-neutral-200: 208, 208, 208;
  --color-neutral-300: 182, 182, 182;
  --color-neutral-400: 156, 156, 156;
  --color-neutral-500: 130, 130, 130;
  --color-neutral-600: 104, 104, 104;
  --color-neutral-700: 78, 78, 78;
  --color-neutral-800: 52, 52, 52;
  --color-neutral-900: 26, 26, 26;
  --color-neutral-1000: 0, 0, 0;
} */

/* Semantic Colors */
:root {
  --color-font-default: var(--color-neutral-100);
  --color-font-secondary: var(--color-secondary-500);
  --color-font-accent: var(--color-accent-500);
  --color-font-primary: var(--color-primary-600);
  --color-font-dark: var(--color-neutral-900);
  --color-background-primary: var(--color-neutral-900);
  --color-stroke-normal: var(--color-neutral-1000);
}


body {
  background-color: rgb(var(--color-background-primary));
}

html {
  font-size: 14px;
}

@media (min-width: 576px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

/* Font Styles */
.Title {
  font-size: 4rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 4.6rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.H1 {
  font-size: 2.2rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 2.64rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.H2 {
  font-size: 1.8rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 2.16rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.H3 {
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 1.92rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.H4 {
  font-size: 1.4rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 1.68rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.H5 {
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 1.44rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodyLarge {
  font-size: 1rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 1.2rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodyLargeHeavy {
  font-size: 1rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 1.2rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodyRegular {
  font-size: 0.8rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 0.96rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodyRegularHeavy {
  font-size: 0.8rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 0.96rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodySmall {
  font-size: 0.7rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 0.84rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodySmallHeavy {
  font-size: 0.7rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 0.84rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodyCaption {
  font-size: 0.6rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 0.72rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.BodyCaptionHeavy {
  font-size: 0.6rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 0.72rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}

.SubtitleRegular {
  font-size: 1.0rem;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  line-height: 1.5rem;
  text-transform: none;
  color: rgb(var(--color-font-default));
}