/* Global Variables */
:root {
  --page-max-width: 70rem;
  font-family: 'Inter', sans-serif;
}


input {
  width: 100%;
  background: rgb(var(--color-neutral-800));
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  padding-right: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
}

input:focus {
  outline: 1px solid rgb(var(--color-font-secondary));
}

input:focus,
.glowOnFocus:focus {
  outline: 1px solid rgb(var(--color-font-secondary));
  transition: outline ease-in-out 100ms;
}

/* Custom scrollbar for all scrollable elements */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-font-primary))
    rgba(var(--color-neutral-800), 0);
}

*::-webkit-scrollbar {
  width: 8px;
  background: rgb(var(--color-neutral-800));
}

*::-webkit-scrollbar-thumb {
  background: rgb(var(--color-font-primary));
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-font-primary));
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and old Edge */
}

no-scrollbar::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.dimOnHover {
  transition: filter 0.1s;
}

.dimOnHover:hover {
  filter: brightness(0.8);
}


.SectionRoot {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.SectionInner {
	width: 95vw;
	max-width: var(--page-max-width);
  max-height: 100%;
	padding: 0rem 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chatbotDisableScrollOnMobile {
  overflow-y: initial;
}


@media (max-width: 1200px) {
  :root {
    --page-max-width: 60rem;
  }
}

@media (max-width: 992px) {
  :root {
    --page-max-width: 50rem;
  }
  .SectionInner {
    padding: 0rem 1rem;
  }
}

@media (max-width: 576px) {
  :root {
    --page-max-width: 36rem;
  }
  .chatbotDisableScrollOnMobile {
    overflow-y: hidden;
  }
}
