/* .md > * {
  margin-bottom: 0.5rem;
} */

.md ul {
  margin-left: 2rem;
}

.md h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.md h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.md h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  font-weight: 700;
}

